vesktop/*
vesktop-electron/*
vesktop-git/*
vesktop-electron-git/*
!vesktop/.SRCINFO
!vesktop/PKGBUILD
!vesktop/vesktop.desktop
!vesktop/vesktop.sh
!vesktop/afterPack.js
!vesktop-electron/.SRCINFO
!vesktop-electron/PKGBUILD
!vesktop-electron/vesktop.desktop
!vesktop-electron/vesktop.sh
!vesktop-electron/afterPack.js
!vesktop-git/.SRCINFO
!vesktop-git/PKGBUILD
!vesktop-git/vesktop.desktop
!vesktop-git/vesktop.sh
!vesktop-git/afterPack.js
!vesktop-electron-git/.SRCINFO
!vesktop-electron-git/PKGBUILD
!vesktop-electron-git/vesktop.desktop
!vesktop-electron-git/vesktop.sh
!vesktop-electron-git/afterPack.js
